@media screen and (max-width: 820px) {
  .container {
    padding: 0 15px;
    box-sizing: border-box;
  }

  header {
    .logo {
      margin-left: 15px;
    }
  }

  .main_banner {
    img {
      position: static;
    }
  }

  .cards {
    flex-direction: column;
  }

  .guide_voice {
    flex-direction: column;
    top: initial;
  }

  .voice {
    height: inherit;
  }

  .voice_container {
    max-height: initial;
    top: initial;
  }

  .guide_banner {
    margin-bottom: 100px;
  }

  .footer_container {
    width: initial;
  }
}

@media screen and (max-width: 428px) {
  nav {
    display: none;
  }

  .container {
    padding: 0 15px;
  }

  .main_banner {
    img {
      position: static;
      right: 0;
      top: 0;
      max-width: 390px;
    }
  }

  .guide_banner {
    margin-bottom: 100px;
  }

  .cards {
    flex-direction: column;
  }

  .cards>.photo {
    margin-bottom: 10px;
  }

  .subject {
    flex-direction: column;
  }

  .ball_row {
    flex-direction: column;
    align-items: center;
  }

  .ball_container {
    margin-bottom: 15px;
  }

  .voice {
    height: initial;
  }

  .voice_container {
    max-height: initial;
    top: 0;
  }

  .voice_card {
    padding: 30px;
  }

  .guide_voice {
    flex-direction: column;
    top: 0;
  }

  .subscribe {
    padding: 5px;
  }

  footer {
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
  }

  .footer_container {
    max-width: 429px;
    width: initial;
    height: initial;
  }

  .social_networks {
    margin-bottom: 20px;
  }

  .footer_navigation {
    flex-direction: column;
  }
}

@media screen and (max-width: 360px) {

  body {
    img {
      max-width: 328px !important;
    }
  }

  .guide_banner {
    margin-bottom: 100px;
  }


  .name {
    flex-direction: column;

    input {
      margin-right: 0 !important;
      margin-bottom: 5px;
    }
  }

  .footer_container {
    max-width: 328px;
    width: initial;
    height: initial;
  }

}