* {
  padding: 0;
  margin: 0;
}

header {
  background-color: white;
  padding: 7px 0;
}

.container {
  margin: auto;
  max-width: 1064px;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

header ul {
  list-style: none;
}

header nav li a {
  font-family: 'Roboto', sans-serif;

  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #1C1B1B;
  text-decoration: none;
}

header nav li {
  margin-right: 28px;
}

header li:first-of-type {
  margin-right: 16px;
}

header nav li:first-of-type {
  margin-right: 28px;
}

header li:last-of-type {
  margin-left: 7px;
}

header nav li:last-of-type {
  margin-left: 0;
}

header .container {
  position: relative;
}

header .logo {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: 13px;
}

.main_banner {
  padding: 90px 0;
  background-color: #F0EFEB;
  position: relative;
}


.main_banner h1 {
  font-family: 'Roboto' sans-serif;

  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 42px;
}

.main_banner p {
  font-family: 'Roboto' sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 26px;
}

.main_banner a {
  font-family: 'Roboto', sans-serif;
  background: #000000;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 7px 23px;
  text-decoration: none;
}

.main_banner img {
  position: absolute;
  right: 60px;
  top: 0%;
}

.guide_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 250px;
}

.guide_banner h2 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.photo:not(:last-child) {
  margin-right: 15px;
}

.best_guide_text {
  max-width: 650px;
  margin-top: 50px;
  text-align: center;
}

.best_guide_text h2 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-bottom: 27px;
}

.best_guide_text p {
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 40px;
}

.cards p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
}

.cards a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}

.cards {
  display: flex;
}

.guide_cards h2 {
  padding: 30px;
}

.guide_cards {
  text-align: center;
}

.photo p:nth-of-type(2) {
  font-weight: 400;
}

.margin_r_50 {
  margin-right: 50px;
}

.margin_l_50 {
  margin-left: 50px;
}

.subject {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 76px;
  padding-bottom: 50px;
}

.subject_text {
  display: flex;
  flex-direction: column;
  max-width: 530px;
}

.txt_algn_right {
  text-align: right;
}

.subject_text h2 {
  padding-bottom: 30px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.subject_text p {
  font-family: 'Roboto';
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  padding-bottom: 20px;
}

.subject_text a {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
}

.light_gray_bg {
  background: rgba(204, 204, 204, 0.6);
}

.middle_gray_bg {
  background: rgba(204, 204, 204, 0.3);
}
